@import "~bootstrap/scss/bootstrap";


html, body{
  overflow-x: hidden;
  }

body {
  background-color: #BAE0E5 !important;
}
.content-dark {
  align-content: center;
  width: 100%;
  background-color: #20414B;
  color: white;
  padding-bottom: 10%;
}
h1 {
  font-size: 75px !important;
  padding: 5% !important;
}
h2 {
  font-size: 40px !important;
}

.smallText {
  font-size: 20px !important;
}

p {
  font-size: 30px !important;
}



.content-light {
  width: 100%;
  color: #20414b;
  padding-bottom: 10%;
  background-color: #BAE0E5;
}

.boxed-light {
  background-color: #6C7D73;
  width: 60%;
  padding: 5%;
  border-radius: 20px;
  color: white;
  box-shadow: 3px 3px 20px black;
}

.boxed-dark {
  background-color: #30C095;
  width: 60%;
  padding: 5%;
  border-radius: 20px;
  color: #20414b;
  box-shadow: 3px 3px 20px black;
}

.aboutBox {
  background-color: #30C095;
  width: 60%;
  border-radius: 20px;
  color: #20414b;
  box-shadow: 3px 3px 20px black;
  padding: 3% !important;
}

#aboutText {
  text-align: left;
}

#icon {
  height: 70px !important;
  width: auto !important;
  margin: 30px 30px 0px;
}

#portrait {
  height: 500px !important;
  width: auto !important;
}

#intro {
  margin-top: 80px;
  text-align: left;
}

#buffer {
  height: 100px;
}

.color-nav {
  background-color: #20414b;
  color: #BAE0E5 !important;
  box-shadow: 3px 3px 20px black;
  font-size: 25px !important;
}

.btn-primary {
  background-color: #20414b !important;
  color: #BAE0E5 !important;
}

.portfolioImages {
  width: 95% !important;
  height: auto !important;
}

.portfolioContent {
  text-align: left;
  a:link, a:visited {
    color: #BAE0E5;
  }
}

iframe {
  width: 50%;
  height: 75vh;
}


@media only screen and (max-device-width: 480px) {
  body {
    background-color: #BAE0E5 !important;
    width: 100%;
  }

  .content-dark {
    width: 100%;
    background-color: #20414B;
    color: white;
    padding-bottom: 10%;
    padding-top: 35px;
  }

  .content-light {
    width: 100%;
    color: #20414b;
    padding-bottom: 10%;
    padding-top: 35px;
  }

  .boxed-light {
    background-color: #6C7D73;
    width: 90%;
    padding: 5%;
    border-radius: 20px;
    color: white;
    box-shadow: 3px 3px 20px black;
  }
  
  .boxed-dark {
    background-color: #30C095;
    width: 90%;
    padding: 5%;
    border-radius: 20px;
    color: #20414b;
    box-shadow: 3px 3px 20px black;
  }

  h1 {
    font-size: 75px !important;
    padding: 5% !important;
  }
  h2 {
    font-size: 40px !important;
  }
  
  .smallText {
    font-size: 20px !important;
  }
  
  p {
    font-size: 20px !important;
  }
  
  .portfolioLink {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
  
  .aboutBox {
    background-color: #30C095;
    width: 90%;
    border-radius: 20px;
    color: #20414b;
    box-shadow: 3px 3px 20px black;
    padding: 3% !important;
  }
  
  #aboutText {
    text-align: left;
  }
  
  #icon {
    height: 70px !important;
    width: auto !important;
  }

  #cello-mountains {
    width: 75vw;
    height: auto;
  }
  
  #portrait {
    height: 250px !important;
    width: auto !important;
  }
  
  #intro {
    margin-top: 80px;
    text-align: left;
  }
  
  #buffer {
    height: 45px;
  }
  
  .color-nav {
    background-color: #20414b;
    color: #BAE0E5 !important;
    box-shadow: 3px 3px 20px black;
    font-size: 25px !important;
  }
  
  .btn-primary {
    background-color: #20414b !important;
    color: #BAE0E5 !important;
  }
  
  .portfolioImages {
    width: 73vw !important;
    height: auto !important;
  }
  
  .portfolioContent {
    text-align: left;
    a:link, a:visited {
      color: #BAE0E5;
    }
  }
  iframe {
    width: 90%;
    height: 400px;
  }
}
